/*CSS Richard*/

body{
    background: #BDBDBD;
}
.div-portfolio{
    margin-top: 120px;
}
.div-flex{
    display: flex;
}

.imgPortafolio{
    margin: 50px;
}
.div-columns{
    flex-direction: column;
}
h3{
    color: #4A6682;
}
.div-columns p{
    font-size: 13px;
}

.first_heading{
    margin-top: 120px;
}

.services{
    margin-top: 120px;
}

.contact{
    margin-top: 120px;
}

/*CSS Steven*/

.texto{
    width: 580px;
    display: flex;
}
.texto_contact{
    width: 700px;
    display: flex;
}
.titular{
    text-align: left;
}
.circular_image {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    background-color: blue;
    display:inline-block;
    vertical-align:middle;
}

form{
	background-color: white;
	width: auto;
	height: auto;
    padding: 10px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/*CSS Elizabeth*/

  .imgHead {width:100%;}
  .tagline, .navbar {display: flex;}
  .navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      flex-direction: row;
      background-color: #333;
    justify-content: left;}
    .li1 {float: left;}
    .navbar .li1 a {
      float: left;
      font-size: 15px;
      color: white;
      display: block;
      text-align: center;
      padding: 14px 16px;}
  #navh1, #navh2 {position: absolute;}
  #navh1 { margin-top: 90px; background-color: white; font-size:150px; margin-left:40px; margin-right: 40px;}
  #navh2 { margin-top: 290px; background-color: white; font-size:90px; margin-left:140px; margin-right: 140px;}