<!-- your html code here -->

<div id="titular" class="d-flex">
    <h1 style="color:black">This First Heading</h1>
    <h1 style="color:gray">&nbsp;Will Catch Your Eye</h1>
</div>
<div id="contenido" class="d-flex flex-row">
    <div class="texto">
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vetibulum id ligula porfa felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <img
        src="/website/assets/img/1.jpg"
        height="350px"
        width="350px"
        display="flex"
    />
</div>