<!-- your html code here -->

<div id="titular" class="d-flex">
    <h1 style="color:black">The Second Heading</h1>
    <h1 style="color:gray">&nbsp;Is Pretty Cool Too</h1>
</div>
<div id="contenido" class="d-flex flex-row">
    <div class="imagen">
        <img
            src="/website/assets/img/2.jpg"
        />
    </div>
    <div class="texto">
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vetibulum id ligula porfa felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>